<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ff64c2">  <td>21/06/12 01:43:57</td>   <td>0</td> <td title="&gt;&gt;Base.setup()[pri:0, instance:base.Base@27305e6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837246227</td>   <td></td> </tr>
<tr bgcolor="95778e">  <td>21/06/12 01:44:05</td>   <td>7346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAmazonDotCom.varify_amazon_landing_page()[pri:0, instance:testClass.TestAmazonDotCom@1ef3efa8]">varify_amazon_landing_page</td> 
  <td>main@837246227</td>   <td></td> </tr>
<tr bgcolor="8db68f">  <td>21/06/12 01:44:09</td>   <td>12174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSitSkySchoolingDotCom.varify_sit_landing_page()[pri:0, instance:testClass.TestSitSkySchoolingDotCom@502f1f4c]">varify_sit_landing_page</td> 
  <td>main@837246227</td>   <td></td> </tr>
<tr bgcolor="ff64c2">  <td>21/06/12 01:44:12</td>   <td>14906</td> <td title="&lt;&lt;Base.tearDown()[pri:0, instance:base.Base@27305e6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837246227</td>   <td></td> </tr>
</table>
