<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d8e85">  <td>21/06/12 01:18:57</td>   <td>0</td> <td title="&gt;&gt;Base.setup()[pri:0, instance:testClass.TestSitSkySchoolingDotCom@6c6c5427]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@466032056</td>   <td></td> </tr>
<tr bgcolor="69fc68">  <td>21/06/12 01:19:05</td>   <td>7972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSitSkySchoolingDotCom.varify_sit_landing_page()[pri:0, instance:testClass.TestSitSkySchoolingDotCom@6c6c5427]">varify_sit_landing_page</td> 
  <td>main@466032056</td>   <td></td> </tr>
<tr bgcolor="7d8e85">  <td>21/06/12 01:19:08</td>   <td>10318</td> <td title="&lt;&lt;Base.tearDown()[pri:0, instance:testClass.TestSitSkySchoolingDotCom@6c6c5427]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@466032056</td>   <td></td> </tr>
</table>
