<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9b8c9">  <td>21/05/26 00:57:25</td>   <td>0</td> <td title="&gt;&gt;Base.setup()[pri:0, instance:base.Base@68267da0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@857068247</td>   <td></td> </tr>
<tr bgcolor="b9b8c9">  <td>21/05/26 00:57:31</td>   <td>5245</td> <td title="&lt;&lt;Base.tearDown()[pri:0, instance:base.Base@68267da0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@857068247</td>   <td></td> </tr>
</table>
